body {
    font-family: 'Raleway';
    background-color: #0C0C0D;
    color: #dcdcdc;
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #0C0C0D;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footer p {
    margin: 0;
}
